!.gitignore
*.*
*/
!PSProfile.code-workspace
!AHK/
!AHK/*.ahk
!PSProfile/
!PSProfile/*.ps1
!PSProfile/.gitignore
!WindowsPowerShell/
!WindowsPowerShell/*.ps1
!WindowsPowerShell/.gitignore
!PowerShell/
!PowerShell/*.ps1
1PowerShell/.gitignore