*.*
*/
!.gitignore
!README.md
!LICENSE
!PSProfile.code-workspace
!AHK/
!AHK/*.ahk
!PSProfile/
!PSProfile/*.ps1
!PSProfile/.gitignore
!PSProfile/Documentation/*
!PSProfile/Documentation/images/*.png
!WindowsPowerShell/
!WindowsPowerShell/*.ps1
!WindowsPowerShell/.gitignore
!PowerShell/
!PowerShell/*.ps1
!PowerShell/.gitignore